@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Nunito:300|Montserrat:300,400,600');

html {
    max-width: 100vw;
    overflow-x: hidden
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0;
    font: 400 1rem Montserrat, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.688;
    color: #212529;
    text-align: left;
    background-color: #fff;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.36;
}

.h1,
h1 {
    margin-top: 0;
    font-size: 2.5rem;
}

.h2,
h2 {
    font-size: 2rem;
}

.h3,
h3 {
    font-size: 1.75rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h6,
h6 {
    font-size: 1.125rem
}

p {
    margin-top: 0;
    margin-bottom: 1.15rem
}

.dl,
ul,
ol {
    list-style: none;
}

.font-secondary {
    font-family: Nunito, sans-serif;
}

.page {
    max-width: 1400px;
    margin: auto
}

.hidden {
    display: none
}

/* Background */
.transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.bg-gradient-primary {
    background-image: linear-gradient(to right top, #070b4a, #004186, #0077ae, #00adbe, #00e2bb) !important;
}

.bg-section-primary {
    background-color: #fafbfe !important;
}

.bg-section-secondary {
    background-color: #e0e6ed !important;
}

.bg-brand-facebook {
    background-color: #3b5999 !important
}

a.bg-brand-facebook:focus,
a.bg-brand-facebook:hover,
button.bg-brand-facebook:focus,
button.bg-brand-facebook:hover {
    background-color: #2d4474 !important
}

.bg-brand-twitter {
    background-color: #1da1f2 !important
}

a.bg-brand-twitter:focus,
a.bg-brand-twitter:hover,
button.bg-brand-twitter:focus,
button.bg-brand-twitter:hover {
    background-color: #0c85d0 !important
}

.bg-brand-instagram {
    background-color: #e4405f !important
}

a.bg-brand-instagram:focus,
a.bg-brand-instagram:hover,
button.bg-brand-instagram:focus,
button.bg-brand-instagram:hover {
    background-color: #d31e40 !important
}

.bg-brand-pinterest {
    background-color: #bd081c !important
}

a.bg-brand-pinterest:focus,
a.bg-brand-pinterest:hover,
button.bg-brand-pinterest:focus,
button.bg-brand-pinterest:hover {
    background-color: #8c0615 !important
}

.bg-brand-youtube {
    background-color: #cd201f !important
}

a.bg-brand-youtube:focus,
a.bg-brand-youtube:hover,
button.bg-brand-youtube:focus,
button.bg-brand-youtube:hover {
    background-color: #a11918 !important
}

/* Sections */

section.featured-post,
section.popular-post {
    padding: 40px 0;
    margin: 30px 0;
}

.section-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    border-bottom-left-radius: 10rem;
}

.section-inner-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    border-top-right-radius: 20rem
}

/* Header */

.header {
    margin: auto;
    position: relative;
}

#header-main.bg-gradient-primary {
    border-bottom-left-radius: 10rem;
}

/* Navbar */

.navbar,
.sub-header {
    max-width: 1600px;
    margin: auto
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar-dark .navbar-toggler {
    border: 0
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    transition: .5s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #d3d3d3
}

.navbar-brand {
    max-width: 80%
}

.sub-header .coming-soon span {
    font-size: 1rem !important;
}

/* Jumbotron */

.jumbotron {
    max-width: 1400px;
    margin: auto
}

.jumbotron-img {
    display: flex
}

.jumbotron img {
    width: 100%;
}

.j-display {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.2;
}

.jumbotron h2 {
    font-size: calc(1.325rem + .9vw);
}

/* Search */

#BlogSearch1 {
    font: 300 1rem montserrat, sans-seriff;
}

.search-input {
    display: inline-block;
}

input,
input[type=button],
input[type=reset],
input[type=submit] {
    display: inline-block;
    width: auto;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: .25rem;
    transition: .5s;
}

#BlogSearch1 input.search-action:hover {
    color: white;
    background: #070b4a;
}

#search-section,
#labels-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

/* Labels */

.Label span.label-size,
span.byline.post-labels a {
    background-color: rgba(7, 11, 74, .1);
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    margin: 4px 4px 4px 0;
    padding: 4px 8px;
    text-transform: uppercase;
    vertical-align: middle;
    transition: .5s;
}

span.label-size:hover {
    background-color: rgba(7, 11, 74, .5);
}

a.label-name,
span.byline.post-labels a {
    color: white;
    font: normal normal 0.875rem Montserrat, sans-serif;
    text-decoration: none;
}

span.byline.post-labels a {
    color: #070b4a
}

span.byline.post-labels a:hover {
    background-color: rgba(7, 11, 74, .8);
    color: white;
}

span.overflowable-item {
    display: inline-flex;
}

span.overflowable-item a {
    background: rgba(7, 11, 74, 0.5);
    margin-right: 10px;
    margin: 0px 4px 4px 0;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    font-family: montserrat, sans-serif;
}

/* Buttons */
.btn-pink {
    color: #fff;
    background-color: #b2345b;
}

.btn-pink:hover {
    background-color: #FDB150;
    text-decoration: none;
    transition: .5s;
    color: white
}

.btn-icon .btn-inner--text:not(:first-child) {
    margin-left: .75rem;
}

.btn-inner--icon {
    display: flex;
    align-items: center;
}

span.btn-inner--text {
    font-size: 1rem;
}

/* Posts */
#page_body {
    max-width: 100%
}

.post {
    font: 400 1rem 'Montserrat', sans-serif;
    line-height: inherit;
}

.post-image,
.post-image img {
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.feed-view .post-outer-container {
    display: inline-flex;
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

.feed-view .post-outer {
    width: 100%;
    height: 400px;
}

.feed-view .card {
    border: 0;
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.feed-view .card:hover {
    box-shadow: none;
}

.feed-view .card-img-overlay {
    opacity: 0;
    z-index: 3;
    height: 75px
}

.feed-view .card:hover .card-img-overlay {
    opacity: 1;
}

.feed-view .card:hover .snippet-thumbnail {
    opacity: 0.6;
}

.feed-view .card,
.feed-view .card:hover,
.feed-view .card-img-overlay,
.feed-view .card:hover .card-img-overlay,
.feed-view .card:hover .snippet-thumbnail,
.feed-view .card .snippet-thumbnail {
    transition: 0.5s
}

.feed-view .card-title h1 {
    font-size: 1rem;
}

.feed-view .post-title a,
.feed-view .post-title a:hover {
    color: #070b4a;
    text-decoration: none;
    display: block;
    margin: -220px -16px -150px;
    padding: 220px 16px 150px;
    position: relative;
    text-overflow: ellipsis;
    z-index: 2;
}

.feed-view .hero .post-title a,
.feed-view .hero .post-title a:hover {
    margin: -230px -16px -230px;
    padding: 230px 16px 230px;
}

.feed-view .blog-posts {
    text-align: center;
}

.feed-view .card.hero {
    width: 100%;
    height: auto;
}

.feed-view .card .snippet-thumbnail {
    display: block;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    opacity: 1
}

.card-img-top {
    background-color: #000;
}

.feed-view .card.hero .snippet-thumbnail {
    height: 272px;
}

.feed-view .byline,
.feed-view .byline.post-author a,
.byline.post-timestamp a {
    font-size: 0.875rem;
    color: grey
}

.item-view .byline.post-timestamp a {
    text-decoration: none;
}

.feed-view .post-footer .svg-icon-24 {
    height: 24px;
    width: 24px;
    fill: #070b4a;
}

.feed-view .post-footer.container {
    padding: 40px 0 0;
}

.post-comment-link.container {
    padding: 0
}

.feed-view a.comment-link {
    float: right;
    color: grey;
    text-decoration: none;
}

.feed-view .post-title a .snippet-container {
    height: 2.8rem;
    max-height: 2.8rem;
    min-height: 2.8rem;
}

.snippet-container {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.post-snippet {
    color: #000;
    margin: 8px 0;
    max-height: 5rem;
}

.post-snippet .snippet-fade {
    background: -webkit-linear-gradient(left, #fff 0, #fff 20%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to left, #fff 0, #fff 20%, rgba(255, 255, 255, 0) 100%);
    color: #000;
    position: absolute;
    height: 2rem;
}

.feed-view .post-title a .snippet-fade {
    background: -webkit-linear-gradient(left, #fff 0, #fff 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to left, #fff 0, #fff 50%, rgba(255, 255, 255, 0) 100%);
    color: transparent;
    height: 24px;
    width: 100px;
}

.snippet-fade {
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100px
}

.feed-view.label-view section.blog,
.feed-view.search-view section.blog {
    padding-bottom: 20px;
}

.item-view .card {
    border: 0;
}

.item-view .post-outer-container {
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    margin: 40px 0;
}

.item-view .blog-posts.hfeed {
    padding-left: 0;
    padding-right: 0;
}

.item-view .post-footer.container {
    padding: 10px 0;
}

/* Comments */

section#comments {
    padding: 20px;
}

/* Pagination */
.page-item a {
    padding: 10px;
    margin: 30px 2px 0;
    color: #070b4a;
    transition: all .5s;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font: normal normal 1rem 'Montserrat', sans-serif;
}

.page-item a:hover {
    color: white;
    background: #070b4a;
    transition: all .5s;
}

.page-item.active .page-link {
    background-color: #070b4a;
    border-color: #070b4a;
}

/* Popular Posts Carousel */

.carousel {
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    max-width: 670px;
    margin: auto;
}

.carousel-inner,
.carousel-inner img,
.feedburnerFeedBlock ul {
    border: 0;
    height: calc(100% * 0.5625);
}

.carousel-indicators {
    bottom: 1%;
    margin: 0 45%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.carousel-caption h5 {
    max-width: 350px;
    margin: auto;
    font-family: roboto, sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.carousel-item h5 {
    opacity: 0;
    transition: 0.3s
}

.carousel-item.active h5 {
    opacity: 1;
}

/* Static Pages */
.page-view .page,
.page-view .blog-posts.hfeed {
    max-width: 100%;
}

.page-view .card {
    border: 0
}

.page-view .card-body {
    padding: 0
}

.about-us {
    max-width: 1400px;
}

.about-us .button-theme {
    color: white;
    background-color: #070b4a;
    transition: .5s;
    border: 0;
    padding: 5px 30px;
    margin-right: 1rem
}

.about-us .button-theme:hover {
    color: #070b4a;
    background-color: white;
}

.about-us .social a {
    color: #070b4a;
    transition: .5s
}

.contactus label {
    padding: 6px;
    border-spacing: 0px;
    border-width: 0px;
    font-family: montserrat, sans-serif;
    font-size: 1rem;
}

.contactus .media-body h5 {
    margin: 0 0 12% 0
}

.contactus input {
    width: 100%;
    font-size: 14px;
    height: 45px;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-radius: 10px;
    background: transparent;
    outline: 0px;
    border-radius: 3px;

}

.contactus input#DecisionBox {
    width: auto;
    display: inline-flex;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 3rem
}

.contactus span {
    color: #070b4a
}

.contactus textarea {
    width: 100%;
    font-size: 14px;
    height: 45px;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    background: transparent;
    outline: 0px;
    border-radius: 3px;
    min-height: 240px;
}

.contactus button#submit {
    color: white;
    background-color: #070b4a;
    font-size: 16px;
    transition: .5s;
    padding: 13px 30px;
    font-size: 1rem;
    font-weight: 500;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    border: none;
}

.contactus .media-body a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
    font-size: 4vw;
    transition: .5s;
}

.contactus .media-body a:hover {
    color: #b2345b;
}

.contactus button#submit:hover {
    color: #070b4a;
    background-color: white;
}

.contactus img.iconFB {
    width: 30px;
    height: 30px;
}

.contactus img.iconLI {
    width: 30px;
    height: 25.5px;
}

.contactus img.iconIG {
    width: 30px height:30px
}

.contactus img.iconTW {
    width: 30px;
    height: 30px
}

@media(max-width:425px) {
    .contactus input#DecisionBox {
        margin-bottom: 0;
    }

    .contactus button#submit {
        margin-top: 10px;
    }
}

.contactus .media-body .fa-envolope {
    color: #070b4a
}

.contactus .media-body .fa-facebook {
    color: #3b589e
}

.contactus .media-body .fa-twitter {
    color: #56d7fe
}

.contactus .media-body .fa-linkedin-in {
    color: #1c82ca;
}

.contactus .media-body .fa-instagram {
    color: #ff006d;
}

.contactus .media-body .fa-pinterest {
    color: #a30618;
}

.contactus .media-body .fa-facebook-messenger {
    color: #00C6FF
}

/* Resources Page */
.page-view .filteriz-navigation {
    padding: 0;
    margin: 0 0 26px 0
}

.page-view .filteriz-navigation li {
    font-size: 12px;
    color: #535353;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 5px 20px 5px 20px;
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    background: #fff;
    border: 0;
    margin-bottom: 15px;
    margin-right: 10px;
    min-width: 130px;
    cursor: pointer
}

.page-view .portfolio-item {
    max-height: 233px;
    overflow-y: hidden;
}

.page-view .portfolio-item,
.page-view .portfolio-item:focus {
    outline: 0;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer
}

.page-view .portfolio-item img,
.page-view .portfolio-item img:focus {
    outline: 0;
    width: 100%;
    height: 100%
}

.page-view .portfolio-item:hover img {
    zoom: 1;
    -webkit-opacity: .1;
    opacity: .1
}

.page-view .portfolio-item:hover .portfolio-content {
    display: inline;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    z-index: -999
}

.page-view .portfolio-content {
    display: none;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    text-transform: uppercase;
    color: #1c1c1c;
    height: 100%;
    position: absolute;
    right: 0
}

.page-view .portfolio-content-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.page-view .portfolio-content p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff
}

.page-view .filteriz-navigation li.active,
.page-view .filteriz-navigation li:hover {
    color: #fff;
    background: #070b4a;
    transition: .5s
}

.page-view .main-title p {
    margin-bottom: 30px;
}

.page-view img.mfp-img {
    max-width: 80%;
    max-height: none !important;
}

/* Footer */

.footer-dark {
    border-top-right-radius: 10rem;
}

.footer-dark,
.footer li a {
    color: #ffffff;
    text-decoration: none;
    line-height: 1.4;
    transition: .5s;
}

.footer li a:hover {
    color: #d3d3d3
}

.footer .list-unstyled li {
    margin-bottom: 7px;
    max-width: 200px
}

.contact-info {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
}

.contact-info li i {
    position: absolute;
    left: 0;
    line-height: 1.4;
}

.footer svg {
    max-width: 500px
}

/* Sub-footer */
.sub-footer {
    padding-bottom: 75px;
    padding: 20px 0;
}

.sub-footer .social-list li a {
    margin-left: 20px;
    color: #fff;
    display: inline-block;
    transition: .5s;
}

.sub-footer .social-list {
    float: right
}

.sub-footer .social-list li {
    display: inline-block
}

.sub-footer .copy,
.sub-footer .copy a {
    margin: 0;
    font-size: .8rem;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.sub-footer .copy a:hover {
    color: #b2345b
}

a i.fa {
    transition: .5s;
}

a i.fa-facebook:hover,
a i.fa-facebook-square:hover {
    color: #3b589e
}

a i.fa-twitter:hover,
a i.fa-twitter-square:hover {
    color: #56d7fe
}

a i.fa-instagram:hover {
    color: #ff006d
}

a i.fa-linkedin:hover,
a i.fa-linkedin-square:hover {
    color: #1c82ca
}

a i.fa-pinterest:hover,
a i.fa-pinterest-square:hover {
    color: #a30618
}

a i.fa-youtube:hover,
a i.fa-youtube-square:hover {
    color: #c4302b
}

/* Delimiter */

.delimiter-bottom,
.delimiter-top {
    position: relative;
    border: 0
}

.delimiter-top:before {
    top: 0
}

.delimiter-bottom:after {
    bottom: 0
}

.delimiter-bottom:after,
.delimiter-top:before {
    content: "";
    display: block;
    width: 80%;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    height: 1px;
    background: -o-radial-gradient(center, ellipse, rgba(222, 228, 239, .2) 0, hsla(0, 0%, 100%, 0) 75%);
    background: radial-gradient(ellipse at center, rgba(222, 228, 239, .2) 0, hsla(0, 0%, 100%, 0) 75%)
}

section.delimiter-top:before,
section.delimiter-bottom:after {
    background: -o-radial-gradient(center, ellipse, rgba(7, 11, 74, .2) 0, hsla(0, 0%, 100%, 0) 75%);
    background: radial-gradient(ellipse at center, rgba(7, 11, 74, .2) 0, hsla(0, 0%, 100%, 0) 75%)
}

/* Feed Burner */
.feedburnerFeedBlock * {
    transition: .5s;
}

.feedburnerFeedBlock .feedTitle {
    margin: 1.5rem;
}

.feedburnerFeedBlock .feedTitle a {
    font-size: 2rem;
    color: #212529;
    font-weight: 600;
    text-transform: uppercase;
}

.feedburnerFeedBlock a:hover {
    color: #b2345b;
}

div#creditfooter {
    display: none;
}

.feedburnerFeedBlock a {
    font: bold 1rem Montserrat, sans-seriff;
    text-decoration: none;
    color: #212529;
}

.feedburnerFeedBlock ul {
    text-align: left;
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    margin: 0;
    padding: 0 10px;
}

.feedburnerFeedBlock ul li {
    margin-top: 20px;
    padding-top: 10px;
}

.feedburnerFeedBlock div {
    padding: 5px 0px 10px 0;
}

/* Page Scroller */

#page_scroller {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    cursor: pointer;
    color: #fff;
    padding: 10px 11px;
    font-size: 12px;
    position: fixed;
    bottom: 55px;
    right: 14px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;
    background: #b2345b;
}

/* Media */
@media(min-width:375px) {

    #search-section input,
    .search-input {
        width: auto !important;
    }

    .jumbotron {
        padding: 0
    }

    span.btn-inner--text {
        font-size: 1.25rem;
    }
}

@media(min-width:576px) {
    .j-display {
        font-size: 3.5rem
    }

    .contactus .media-body a {
        font-size: 1.25rem
    }

    .feed-view .hero .card-title h1 {
        font-size: 1.2rem;
    }
}

@media(min-width:768px) {
    .feed-view .post-outer-container {
        width: 45%;
        margin: 10px;
        min-width: 310px
    }

    .feed-view .hero .card-title h1 {
        font-size: 1.5rem;
    }

    .item-view .blog-posts.hfeed {
        padding-left: 15px;
        padding-right: 15px;
    }

    .search-view .post-outer-container,
    .label-view .post-outer-container {
        margin: 40px 10px;
    }

    #page_scroller {
        bottom: 85px
    }
}

@media(min-width:992px) {
    .jumbotron {
        padding: 2rem 1rem
    }

    .feed-view .post-outer-container {
        width: 30%;
        min-width: 333px;
    }

    .feed-view .hero .card-title h1 {
        font-size: 2rem;
    }

    .feed-view .blog-posts.hfeed {
        padding: 0 15px
    }

    .section-inner,
    .section-inner-bottom {
        overflow: hidden
    }

    .section-inner+.container,
    .section-inner-bottom+.container {
        position: relative;
        z-index: 0
    }

    .carousel-title,
    .feedburnerFeedBlock .feedTitle a {
        font-size: 2.3vw;
    }
}

@media(min-width:1200px) {
    #header-main.bg-gradient-primary {
        border-bottom-left-radius: 20rem;
    }

    .jumbotron h2 {
        font-size: 2rem
    }

    .jumbotron .container-fluid {
        max-width: 80%
    }

    .footer-dark {
        border-top-right-radius: 20rem;
    }

    .section-inner {
        border-bottom-left-radius: 20rem;

    }

    .section-inner-bottom {
        height: 30%
    }

    .section-inner+.container,
    .section-inner-bottom+.container {
        padding-left: 2rem
    }

    .section-rotate .container {
        position: relative
    }
}

@media(min-width:1300px) {

    .carousel-title,
    .feedburnerFeedBlock .feedTitle a {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 2000px) {

    .section-inner,
    .section-inner-bottom {
        width: 100%;
        height: 100%
    }
}